body {
	font-family: "Calibri", sans-serif;

	max-width: 1200px;
	margin: 10px auto;
}

header {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

p {
	font-weight: bold;
}




.new_entry{
	text-align: center;
	font-size: 18px;
	min-height: 24px;
}	

.text_area {
	width: 400px;
	height: 500px;
}




/*Display of the text are a */
.post-header {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}


.title {
	min-height: 24px;
	width: 50%;
}

.contributor{
	font-weight: bold;
	color: blue;
}

.date {
	text-align: right;
	width: 50%;
};

