/*Structures general aspects. Relevance:
- all templates*/

body {
	font-family: "Calibri", sans-serif;

	max-width: 1200px;
	margin: 10px auto;
}

header {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

p {
	font-weight: bold;
}



/*Structures the entry linl. Relevance for:
- 02_front-page.html

*/

.new_entry {
	text-align: center;
	font-size: 18px;
	min-height: 24px;
}	

/*Display of the text area. Relevance for:
- single_entry.html 
- front-page.html
*/

.text_title {
	width: 50%;

}

.text_area {
	width: 50%;
	height: 500px;
}


.comment_orign {
	height: 150px;
	width: 75%;
	overflow: scroll;
}


.comment_area {
	width: 50%;
	height: 200px;
}
/*Display of the page. Relevance for:
- 01_pageheader.html

and consequently

- 02_front-page.html
- 03_singlepost.html
- 04_new-post.htmö
*/

.blog_header {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	margin: 20px 0;
}

.blog_title {
	min-height: 24px;
	width: 50%;
}

.blog_contributor{
	font-weight: bold;
	color: green;
}

.blog_logout {
	text-align: right;
	width: 50%;
	font-weight: bold;
}

/*Display of the text area. Relevance for:
- single_entry.html 
- front-page.html
*/

.post_header {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}

.post_title {
	min-height: 24px;
	width: 50%;
}

.post_contributor{
	font-weight: bold;
	color: blue;
}

.post_date {
	text-align: right;
	width: 50%;
}

.post_links {
	position: center;
	text-align: center;
}

.post_reviews {
	position: center;
	text-align: center;
	margin: 10px 0;
	font-weight: bold;
}

.post_comments {
	font-style: italic;
}

.post_likes {
	color: green;
}

.post_dislikes {
	color: red;
}

.post_addition {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	text-align: center;
}

.post_addcom {
	width: 33%;
}

.post_addlik {
	width: 34%;
}

.post_adddis {
	width: 33%;
}
/* Display the register form. Relevance for:
- register.html 
 */

.register_header {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	position: center;
}

.register_text {
	width: 20%;
}


.register_input {
	width: 20%;
}

.register_error {
	width: 60%;
	color: red;
	font-weight: bold;
}