<!-- *** front-page.html ***

This is template generates the content of the front page via
the MainPage handler (a GET request)

This page has two main sections:
	- the link to create a new post (a simple anchor tag to the newpost page)
	- the content part which "loops in" the 10 latest post from the database
-->


{% extends "01_pageheader.html" %}

{% block content %}

		<!-- The link to the new post  -->
		<div class="new_entry">
			<a href="/blog/newpost"><b>New Entry</b></a>
		</div>

		<hr>

		<!-- The entry of the content -->
	{% for entry in blogentries %}
		<article>
			<div class="post_header">
				<div class="post_title">
					<!-- This entry generates a dedicate anchor for each entry, which will trigger
					the NeWPostDIsplay handlet and its page generation. -->
					<a href="/blog/{{entry.key().id()}}"><b>{{entry.title}}</b></a>,


					<!-- This if statement simply check whether there's a named contributor.
							This might be overkill yet, but would allow to make the contribution
							column optional (and not mandatory as such)
					 -->
					{% if entry.contributor %}
						posted by <span class="post_contributor">{{entry.contributor}}</span>
					{% endif %}

				</div>

					<!-- This adds amd format the date field -->
				<div class="post_date">
					{{entry.date.strftime("%B %d %Y") }}

				</div>
			</div>

			<hr>
					<!-- This field inserts the main text and allows "safe" html (overriding)
					partially the escaping -->
				<pre>{{entry.bodytext | safe}}</pre>


			<div class="post_reviews">

				<span class="post_comments">
					Comments: 
					{%if entry.comments%}
						{{entry.comments}}
					{% else %}
						0
					{% endif %}
				</span>

				<span class="post_likes">
					👍: 
					{%if entry.likes%}
						{{entry.likes}}
					{% else %}
						0
					{% endif %}
				</span>

				<span class="post_dislikes">
					👎: 
					{%if entry.dislikes%}
						{{entry.dislikes}}
					{% else %}
						0
					{% endif %}
				</span>


			</div>

		</article>

	{% endfor %}



{% endblock %}