
{% extends "01_pageheader.html" %}

{% block content %}

		<article>
			<div class="post_header">
				<div class="title">
					<a href="/blog/{{blogentry.key().id()}}"><b>{{blogentry.title}}</b></a>,

					{%if blogentry.contributor %}
						posted by <span class="post_author">{{blogentry.contributor}}</span>
					{% endif %}

				</div>

				<div class="post_date">
					{{blogentry.date.strftime("%B %d %Y") }}
				</div>
			</div>

			<hr>

				<pre>{{blogentry.bodytext | safe}}</pre>

			<br>
			
			{% if username == blogentry.contributor %}
				<p>
					<form method ="post">
						<input type="submit" value="Edit">
					</form>
				</p>
			{% endif%}

		</article>




{% endblock %}