
{% extends "01_pageheader.html" %}

{% block content %}

	<article>
		<div class="post_header">
			<div class="post_title">
				<a href="/blog/{{blogentry.key().id()}}"><b>{{blogentry.title}}</b></a>,

				{%if blogentry.contributor %}
					posted by <span class="post_contributor">{{blogentry.contributor}}</span>
				{% endif %}

			</div>

			<div class="post_date">
				{{blogentry.date.strftime("%B %d %Y") }}
			</div>
		</div>

		<hr>

			<pre>{{blogentry.bodytext | safe}}</pre>

		<br>
		
		{% if username == blogentry.contributor %}
			<div class="post_links">
				<p>
					As you're the author, you can edit the post
				</p>

				<p>
					<form method ="post">
						<input type="submit" value="Edit the post">
					</form>
				</p>
			</div>
		{% endif%}


		<hr>


		<div class= "post_addition">
			<div class="post_addcom">
				<a href="/blog/comment?q={{blogentry.key().id()}}">Add a comment</a>
			</div>

			<div class="post_addlik">
				<a href="/blog/like?q={{blogentry.key().id()}}">Like this post</a>
			</div>
			
			<div class="post_adddis">
				<a href="/blog/dislike?q={{blogentry.key().id()}}">Dislike this post</a>
			</div>
		</div>

		<hr>

		<div class="post_reviews">

			<span class="post_comments">
				Comments: {{blogentry.commentsnb}}
			</span>

			<span class="post_likes">
				👍:{{blogentry.likes}}
			</span>

			<span class="post_dislikes">
				👎: {{blogentry.dislikes}}
			</span>

			<br>

			

			<hr>

		</div>

		<div>
		{% if comments %}
			 {% for comment in comments %}
			 	<h4>A comment by {{comment.author}}</h5>
			 	<pre>{{comment.comment |safe}}</pre>

			 	<br>

			 	{% if user == comment.author%}

			 	<div class="post_links">
			 		<a href="{{'/blog/editcomment?q=%s&r=%s' %(blogentry.key().id(), comment.key().id())}}"><b>Edit this post</b></a>
			 	</div>
			 	{% endif%}

			 	<hr>

			 {% endfor%}
		{% endif %}

		</div>

		{% if error %}
			<script type="text/javascript">
				alert("{{error|safe}}")
			</script>
		{% endif %}

	</article>




{% endblock %}