<!-- *** newppost.html ***

This template generates the page which allows the input of new blog entries.

As such this page also has a POST method. It is managed  by the NewPostHandler
 -->


{% extends "01_pageheader.html" %}

{% block content %}
<h3>New post</h3>

<form method="post">
	<label>
		<p>Title</p>
		<input class="text_title" type="text" name="title" value="{{title}}">
	</label>

	<label>
		<p>Text</p>
		<textarea class="text_area" name="bodytext">{{bodytext}}</textarea>
	</label>

	<br>

	<label>
		<p>
			Your options:
		</p>

		<p>
			<input type="radio" name="edit" value ="edit">Save/Edit 
		</p>

		<p>
			<input type="radio" name="edit" value ="cancel">Cancel 
		</p>

		{% if error == "in Editing Mode" %}
		<p>
			<input type="radio" name="edit" value ="delete">Delete
		</p>

		{% endif %}
	</label>

	<input type="submit" value="Save">
	
</form>

<p>{{error}}</p>

{% endblock %}