<!-- *** newppost.html ***

This template generates the page which allows the input of new blog entries.

As such this page also has a POST method. It is managed  by the NewPostHandler
 -->


{% extends "01_pageheader.html" %}

{% block content %}

<h3>New Comment to post</h3>

<div class="comment_orign">
	<p>{{blogentry.title}} by {{blogentry.contributor}}</p>

	<pre>{{blogentry.bodytext}}</pre>
</div>

<br>

<form method="post">
	<label>
		<p>Comment</p>
		<textarea class="comment_area" name="comment">{{comment}}</textarea>
	</label>

	<br>

	<label>
		<p>
			Your options:
		</p>

		<p>
			<input type="radio" name="edit" value ="edit">Save/Edit 
		</p>

		<p>
			<input type="radio" name="edit" value ="cancel">Cancel 
		</p>

		{% if error == "in Editing Mode" %}
		<p>
			<input type="radio" name="edit" value ="delete">Delete
		</p>

		{% endif %}
	</label>

	<input type="submit" value="Save">
	
</form>

<p>{{error}}</p>

{% endblock %}