{% extends "10_loginheader.html" %}

{% block content %}

	<div class="welcome">
		<h2>Welcome on the user registration form for this blog</h2>

	</div>

	<form method="post">
		<label class="register_header">
			<div class="register_text">Your Username: </div>
			<input class="register_input" type="text" name="username">
		</label class="register_header">

		<br>

		<label class="register_header">
			<div class="register_text">Your password:</div>
			<input class="register_input" type="password" name="password">
		</label class="register_header">

		<br>

		<p>
			<input type="submit">
		</p>

		<p>{{error}}</p>
	</form>


{% endblock %}