{% extends "01_pageheader.html" %}

{% block content %}

<h1>Debuging page: reports & solutions</h1>

<h2>1. Allowing double entries of logins</h2>

<ol>
{% for l in k1 %}
	<li>{{l.Username}}, {{l.hPassword}}, {{l.Email}}, {{l.key().id()}} </li>

{% endfor %}
</ol>


<p>2016 06 06 10:15 Bug on .all().filter() not on DB "userdata" itselfs

<ol>
	<li><b style="color:green">worked</b>: k = db.GqlQuery("SELECT * FROM UserData ORDER BY Username")</li>
	<li><b style="color:red">did not work</b>: k = UserData.by_name('Werther')</li>
	<li><b style="color:red">did not work</b>: k = UserData.all().filter('name =', name).get()</li>
	<li><b style="color:green">worked</b>: k = db.GqlQuery("SELECT * FROM UserData WHERE Username = 'Werther')</li>
	<li><b style="color:red">did not work</b>: name = 'Werther' <br> k = db.GqlQuery("SELECT * FROM UserData WHERE Username = " + name)</li>
	<li><b style="color:red">did not work</b>:k = UserData.all().filter('Username =', name).get()</li>
	<li><b style="color:green">worked</b>:name = 'Werther' <br>
        k = UserData.all().filter('Username =', name).fetch(1)</li>
</ol>

Last version, <b>k = UserData.all().filter('Username =', name).fetch(1)</b>, seems to be more suitable to be used. See <a href="https://cloud.google.com/appengine/docs/python/ndb/db_to_ndb#queries">DB & NDB docu</a>

</p>



<h2>2. Check UserData db consistency</h2>
{% if k2 %}
<ol>
	{% for l in k2 %}
		<li>{{l.Username}}, {{l.hPassword}}, {{l.Email}}, {{l.key().id()}} </li>

	{% endfor %}

</ol>
{% else %}
<p>the db is empty</p>
{% endif %}

<h2>3. Getting data out by name</h2>

<p>solved by indexing [0]</p>

<h2>4. Check Comment DB consistency</h2>

{% if k4 %}
<ol>
	{% for l in k4 %}
		<li>{{l.postkey}}, {{l.author}}, {{l.comment}}, {{l.key().id()}} </li>

	{% endfor %}

</ol>
{% else %}
<p>the db is empty</p>
{% endif %}
<p>Solved: wrong variable definition</p>

<h2>5. Check Comment DB consistency</h2>

{% if k5 %}
<ol>
	{% for l in k5 %}
		<li>{{l.likers}}, {{l.likes}}, {{l.dislikes}}, {{l.key().id()}} </li>

	{% endfor %}

</ol>
{% else %}
<p>the db is empty</p>
{% endif %}
<p>Solved: wrong variable definition</p>



{% endblock %}