{% extends "page.html" %}

{% block content %}
		<div class="new_entry">
			<a href="/blog/newpost"><b>New Entry</b></a>
		</div>

		<hr>


	{% for entry in blogentries %}
		<article>
			<div class="post-header">
				<div class="title">
					<a href="/blog/{{entry.objkey}}"><b>{{entry.title}}</b></a>, posted by <span class="contributor">Guillaume</span>
	
				</div>

				<div class="date">
					{{entry.date.strftime("%B %d %Y") }}

				</div>
			</div>

			<hr>
			
				<pre>{{entry.bodytext | safe}}</pre>
			
		</article>


	
	{% endfor %}

	

{% endblock %}