<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>A multi user blog</title>

	<meta name="author" content="Guillaume Simler">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">

</head>

<body>
	<header>
		<a href="/blog">
			<h1>A multi user blog</h1>
		</a>
		<p> A Project of Udacity's FSND, programmed by Guillaume Simler </p>
		<hr>
	</header>

	{% block content %}
	{% endblock %}
	


</body>

</html>