


{% extends "page.html" %}

{% block content %}

		<article>
			<div class="post-header">
				<div class="title">
					<a href="/blog/{{blogentry.key().id()}}"><b>{{blogentry.title}}</b></a>,

					{%if blogentry.contributor %}
						posted by <span class="author">{{blogentry.contributor}}</span>
					{% endif %}

				</div>

				<div class="date">
					{{blogentry.date.strftime("%B %d %Y") }}
				</div>
			</div>

			<hr>

				<pre>{{blogentry.bodytext | safe}}</pre>
		</article>


{% endblock %}